<html>
<body>
<form action="/produtos" method="POST">
    <div>
        <label for="titulo">Título</label>
        <input type="text" name="titulo" placeholder="Título">
    </div>
    <div>
        <label for="descricao">Descrição</label>
        <textarea name="descricao" placeholder="Descrição" rows="5"></textarea>
    </div>
    <div>
        <label for="valor">Preço</label>
        <input type="text" name="valor" placeholder="32.90">
    </div>
    <div>
        <button type="submit">Salvar</button>
    </div>
</form>
</body>
</html>